@media (max-width: 576px) {
    .col-sm {
        flex: 1 0 0%;
    }

    .row-cols-sm-auto > * {
        flex: 0 0 auto;
        width: auto;
    }

    .row-cols-sm-1 > * {
        flex: 0 0 auto;
        width: 100%;
    }

    .row-cols-sm-2 > * {
        flex: 0 0 auto;
        width: 50%;
    }

    .row-cols-sm-3 > * {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }

    .row-cols-sm-4 > * {
        flex: 0 0 auto;
        width: 25%;
    }

    .row-cols-sm-5 > * {
        flex: 0 0 auto;
        width: 20%;
    }

    .row-cols-sm-6 > * {
        flex: 0 0 auto;
        width: 16.6666666667%;
    }

    .col-sm-auto {
        flex: 0 0 auto;
        width: auto;
    }

    .col-sm-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
    }

    .col-sm-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }

    .col-sm-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-sm-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    .col-sm-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }

    .col-sm-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-sm-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }

    .col-sm-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }

    .col-sm-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    .col-sm-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }

    .col-sm-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }

    .col-sm-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}

.bg-header {
    background-color: rgba(10, 9, 9, 1) !important;
}

.bg-base {
    background-color: rgba(7, 78, 159, 1) !important;
    color: #ffffff !important;
}

.bg-base-2 {
    background-color: rgba(186, 150, 50, 1) !important;
    color: #ffffff !important;
}

.bg-tagline {
    background-color: rgba(217, 217, 217, 1);
}

.overlay .overlay-custom {
    opacity:100 !important;
}

.font-title {
    font-family: Ultra !important;
}

.bg-ticket {
    background-color: rgba(132, 207, 202, 1) !important;
}

.text-base {
    color: #074E9F !important;
}

.text-base-2 {
    color: #FEC012 !important;
}

.btn-primary-custom{
    color:#fff;
    background-color:#074E9F !important;
    border-color:#074E9F !important;
}
.btn-primary-custom:hover{
    color:#fff !important;
    background-color:#06448a !important;
    border-color:#063b77 !important;
}
.btn-primary-custom.focus,.btn-primary-custom:focus{
    color:#fff !important;
    background-color:#06448a !important;
    border-color:#063b77 !important;
    box-shadow:0 0 0 .2rem rgba(38,143,255,.5) !important;
}
.btn-primary-custom.disabled,.btn-primary-custom:disabled{
    color:#fff !important;
    background-color:#074E9F !important;
    border-color:#074E9F !important;
}
.btn-primary-custom:not(:disabled):not(.disabled).active,.btn-primary-custom:not(:disabled):not(.disabled):active,.show>.btn-primary-custom.dropdown-toggle{
    color:#fff !important;
    background-color:#063b77 !important;
    border-color:#005cbf !important;
}
.btn-primary-custom:not(:disabled):not(.disabled).active:focus,.btn-primary-custom:not(:disabled):not(.disabled):active:focus,.show>.btn-primary-custom.dropdown-toggle:focus{
    box-shadow:0 0 0 .2rem rgba(38,143,255,.5) !important;
}

[data-kt-sticky-landing-header=on] .landing-header {
    backdrop-filter: blur(10px) !important;
}

[data-kt-sticky-landing-header=on] .landing-header .menu .menu-link.active {
    color: #FEC012 !important;
    background-color: rgba(239,242,245,.4);
    font-weight: 500 !important ;
}

/* ACTIVE */
.aside .aside-menu .menu>.menu-item.here>.menu-link .menu-icon, .aside .aside-menu .menu>.menu-item>.menu-link.active .menu-icon {
    background-color: rgba(254, 192, 18, 1) !important;
}
.menu-state-icon-primary .menu-item .menu-link.active .menu-icon, .menu-state-icon-primary .menu-item .menu-link.active .menu-icon .svg-icon, .menu-state-icon-primary .menu-item .menu-link.active .menu-icon i {
    color: #ffffff !important;
}
.menu-state-primary .menu-item .menu-link.active .menu-title {
    color: #3F4254 !important;
    font-weight: 800 !important;
}

.aside.drawer.drawer-on {
    background-color: rgba(255, 255, 255, .85) !important;
    backdrop-filter: blur(10px) !important;
}

.badge-light-primary-custom {
    color: rgba(7, 78, 159, 1) !important;
    background-color: rgba(7, 78, 159, .2)  !important;
}

.scrolltop-custom{
    background-color: rgba(254, 192, 18, 1) !important;
    backdrop-filter: blur(15px) !important;
}

[data-kt-scrolltop=on] .scrolltop {
    opacity: .95;
}

.symbol .symbol-label.symbol-label-fit {
    background-size: contain !important;
    background-color: transparent !important;
}

.btn-active-light-warning-custom:hover .text-seefull {
    color: #FEC012 !important;
}

.card .content-lineup{
    background-position: 50%;
    transition: all .2s cubic-bezier(.55,.085,.68,.53);
    transition-duration: .4s;
}

.content-lineup {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.content-lineup:hover {
    filter: grayscale(0);
}

[data-kt-sticky-landing-header="on"] .col-lg-4.col-sm-12 .card-checkout {
    top: 9%!important;
}

.drawer {
    background-color: rgba(10, 9, 9, .9) !important;
    backdrop-filter: blur(10px) !important;
}

[data-kt-sticky-landing-header=on] .bg-landing-checkout {
    background-color: rgba(255, 255, 255, 0.75) !important;
}

[data-kt-sticky-landing-header=on] .bg-landing {
    background-color: rgba(10, 9, 9, 0.75) !important;
}

.glassMorph {
    background: rgba( 255, 255, 255, 0.85 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.touppercase {
    text-transform: uppercase !important;
}